.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.content {
    overflow-y: auto;
    background-color: var(--color-bg-main);
    max-height: 100%;
    border-radius: 1rem;    
    padding: 1rem;
}